@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body { 
    background-color: black;
}

header {
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding:  75px;
    margin-top: 2em;
}
.navbar { 
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px 30px;
}

.profile-container{
    background-color: black;

}
.content {
    margin: auto;
    display: flex;
    margin-top: 10em;
    justify-content: center;
}