*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #fff;
    width: 100%;
    height: 200vh;
}
.hero-container { 
    width: 100%;
    height: 674px;
    background-size: 100%;
    background-image: url(../assets/herobackground.png);
}
.navbar { 
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px 30px;
}
.nav-translate{
    width: 96px;
    height: 36px;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    border: 1px solid #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.signin-btn { 
    color: #fff;
    background: red;
    width: 85px;
    /* padding: 1px 10px; */
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    border: none;

}
.form-input{
    color: #fff;
    width: 75px;
    padding: 1px 3px;
    height: 24px;
    background-color: #333;
    text-align: center;
    margin-right: 2rem;
    border: none;
}
.hero-content { 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 760px;
    /* margin-top: 2em; */
}
.hero-text {
    text-transform: capitalize;
    font-size: 64px;
    font-weight: bold;
    line-height: 70.4px;
    letter-spacing: -0.5%;
}
.hero-paragraph{
    font-weight: lighter;
    margin: 10px;
}

.hero-input{ 
    margin: 4px;
}
.start-btn{ 
    color: #fff;
    text-decoration: none;
    background: red;
    width: 80px;
    padding: 7px 20px;
    height: 54px;

}
.input-btn{
    color: #a29a9a;
    border: solid #fff 1px;
    background: #fff;
    width: 550px;
    height: 34px;
}
.section1-container{
    background-color: #000;
    width: 100%;
    height: 466px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 8em;
    margin-top:1px;
}
.section1-content{
    align-items: start;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
}
.faq{ 
    background-color: #000;
    width: 100%;
    height: 466px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top:1px;

}

.image-background{
    background-image: url(../assets/Rectangle.svg);
    width: 400px;
    height: 380px;
}
.api-image{ 
    position: relative;
    width: 330px;
    height: 360px;
    margin-left: 70px;
}

.image-background-2{
    background-image: url(../assets/Rectangle\ \(2\).svg);
    width: 400px;
    height: 400px;

}
.image-background-4{
    background-image: url(../assets/Rectangle\ \(4\).svg);
    width: 400px;
    height: 400px;

}
.image-background-3{ 
    background-image: url(../assets/Rectangle\ \(3\).svg);
    width: 550px;
    height: 400px;
    align-items: center;
    align-content: center;
}
.api-image-3{
    position: relative;
    width: 340px;
    height: 192px;
    margin-left: 110px;
}

.frame{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    align-content: center;
    /* background: #333; */
    height: 104px;
    /* width: 331px; */
}